.card {
    width: 800px; /* Wider rectangle */
    height: 500px; /* Reduced height */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    float: left;
    margin-top: 10px;
  }
  
  .slider {
    width: 100%;
    height: 90%; /* Image covers 70% */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sliderImage {
    width: 100%;
    height: 100%;
  }
  
  .sliderBtn {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }
  
  .sliderBtn:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .sliderBtn:first-of-type {
    left: 10px;
  }
  
  .sliderBtn:last-of-type {
    right: 10px;
  }
  
  .cardText {
    padding: 10px;
    flex: 1;
    text-align: center;
    font-size: 14px;
  }
  .h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  .horizontalLine{
    width: 1px;
    background-color: black;
    height: 70%;
    position: absolute;
    left: 50%;
    margin: auto;
    margin-top:20px;
  }
  .div3{
    width: 400px;
    height: 350px;
    border: 1px solid green;
    
  }
  .identity_card{
    aspect-ratio: 4/3;
  }
  .grid1{
    padding: 10px;
    border: 1px solid red;
     display: flex;
     flex-direction: column;
     gap: 10px;
     justify-content: center;
     align-items: center;
  }
  .grid2{
    display: flex;
    flex-direction: row;
    
  }
  