.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 20px;
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Stick to the top */
    width: 100%; /* Full width */
    z-index: 1; /* Ensure it stays above other content */
    overflow: visible; 
}

.logoContainer {
    /* No additional styles were used for this class */
}

.logo {
    height: 40px; /* Adjust height as needed */
    max-height: 100%; /* Prevents overflowing */
    width: auto; 
}

.navbarLinks {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Allow links to grow and fill the space */
    padding-left: 70px;
}

.navbarLink {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    animation: slideInLeft 0.5s forwards; /* Animation for links */
    font-size: 20px;
}

.navbarLink:hover {
    color: #0d5eff;
}

.loginContainer {
    animation: slideInRight 0.5s forwards; /* Animation for login/logout button */
}

.logoutButton {
    display: flex;
    align-items: center;
    background-color: #ff5338;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logoutButton:hover {
    transform: scale(1.05);
}

.loginIcon {
    width: 25px;
    margin-right: 5px;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
