.typing{
    width: 30%;
    height: 70%;
    /* border: 1px solid rgb(0, 255, 17); */
    padding-top: 150px;
    padding-left: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div3{
    width: 100%;
    height: 50%;
    /* border: 1px solid rgb(255, 0, 119); */
}

.div1{
    margin-top: 87px;
    position: relative;
    display: flex;

}
.div2{
    width: 70%;
    height: 100vh;
    border: 1px solid red;
}
.transparentImage {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image fits properly */
    background: none; /* Removes any default background */
    border: none; /* Avoids any default border around the image */
  }